.landing-page {
  display: flex;
  flex-direction: column;
}

.hero-container {
  text-align: center;
  display: flex;
  flex-direction: row;
}
.header-txt {
  animation: fadein 2s;
  color: #063d8c;
  font-family: "Caladea", serif;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.hero-button {
  width: 250px;
  padding: 8px;
  border-radius: 6px;
  background-color: #063d8c;
  color: white;
  font-variant: normal;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
  margin-left: 8em;
}

.hero-left-container {
  display: flex;
  flex: 1;
}
.hero-left-inner {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.hero-txt {
  text-align: left;
  margin: 15px;
  font-family: "Cabin", sans-serif;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 3em;
}

.hero-right-container {
  display: flex;
  flex: 1;
}
.imgContainer {
  width: 100%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
