.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 4em;
  background-color: white;
}

.navbar-title {
  cursor: pointer;
  transition: 0.7s;
  font-family: "Inter", sans-serif;
  color: lightblue;
  text-shadow: 5px blue;
  font-size: 25px;
}

.navbar-title:hover {
  font-weight: bold;
}

.menu {
  display: flex;
}

.menu-item {
  cursor: pointer;
  margin-right: 1em;
  transition: 0.7s;
  font-family: "Inter", sans-serif;
}

.menu-item:hover {
  font-weight: bold;
}
