.question {
  background-color: rgba(0, 0, 0, 0.04);
  width: 50%;
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 1em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.question-txt {
  font-size: 0.7em;
}

.question-button {
  padding: 8px;
}
